<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Complex App</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <h3>Fibonacci Calculator</h3>
      <form clrForm class="clr-form" [formGroup]="form">
        <div class="clr-form-control">
          <label for="example" class="clr-control-label">Enter a number</label>
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input type="text" id="example" formControlName="number" placeholder="Number" class="clr-input" />
            </div>
          </div>
          <button class="btn btn-primary" [disabled]="!form.valid || isLoading" (click)="submit()">Submit</button>
        </div>
      </form>

      <div>
        <h4>Indices I have seen</h4>
        <br />
        <div>
          <span *ngFor="let i of indexes" class="label">{{i?.number}}</span>
        </div>
      </div>

      <div>
        <h4>Calculated Values</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Index</th>
              <th>Calculated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of values | keyvalue">
              <td>{{item.key}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
